<header uk-sticky> 
  <div class="header_inner">
      <div class="left-side">
          <div id="logo">
              <a href="#">
                  <img src="/assets/images/logo.png" alt="">
                  <img src="/assets/images/logo-light.png" class="logo_inverse" alt="">
                  <img src="/assets/images/logo-mobile.png" class="logo_mobile" alt="">
              </a>
          </div>
          <div class="triger" uk-toggle="target: #wrapper ; cls: is-active"> 
          </div>

      </div>
      <div class="right-side">

          <!-- Header search box  -->
          <div class="header_search"><i class="uil-search-alt"></i> 
              <input value="" type="text" class="form-control" placeholder=" Quick search for anything.." autocomplete="off">
              <div uk-drop="mode: click;offset:10" class="header_search_dropdown">
                     
                  <h4 class="search_title"> Recently </h4>
                  <ul>
                      <li> 
                          <a href="#">  
                              <img src="/assets/images/avatars/placeholder.png" alt="" class="list-avatar">
                              <div class="list-name">Kevin Muscara </div>
                          </a> 
                      </li> 
                      <li> 
                          <a href="#">  
                              <img src="/assets/images/avatars/placeholder.png" alt="" class="list-avatar">
                              <div class="list-name"> Austin Smith </div>
                          </a> 
                      </li>
                  </ul>

              </div>
          </div>
           
          <div>

              <!-- search icon for mobile -->
              <div class="header-search-icon" uk-toggle="target: #wrapper ; cls: show-searchbox"> </div>

              <!-- notifications -->
              <a href="#" class="header_widgets">
                  <ion-icon name="notifications-outline" class="is-icon"></ion-icon>
                  <span> 2 </span>
              </a>
              <div uk-drop="mode: click" class="header_dropdown">
                  <div class="drop_headline">
                      <h4>Notifications </h4>
                      <div class="btn_action">
                      </div>
                  </div>
                  <ul class="dropdown_scrollbar" data-simplebar>
                      <li>
                          <a href="#">
                              <div class="drop_avatar"> <img src="/assets/images/avatars/avatar-1.jpg" alt="">
                              </div>
                              <div class="drop_content">
                                  <strong>New Sign Out</strong> <span class="time"> 1:43 PM</span>
                                  <p>Kevin Muscara is going to the Upstairs Bathroom</p>
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <div class="drop_avatar"> <img src="/assets/images/avatars/avatar-2.jpg" alt="">
                              </div>
                              <div class="drop_content">
                                  <strong>New Sign Out</strong> <span class="time">10:27 PM</span>
                                  <p>Austin Smith is going to the Guidance Office</p>
                              </div>
                          </a>
                      </li>
                  </ul>
              </div>

              <!-- profile -->
              <a href="#" class="flex items-center space-x-2">
                  <img src="/assets/images/avatars/placeholder.png" class="header_widgets_avatar mr-3" alt=""> 
                  <span class="sm:inline hidden">  User admin </span>
              </a>
              <div uk-drop="mode: click;offset:5" class="header_dropdown profile_dropdown">
                  <ul>   
                      <li>
                          <a href="#" class="user">
                              <div class="user_avatar">
                                  <img src="/assets/images/avatars/placeholder.png" alt="">
                              </div>
                              <div class="user_name">
                                  <div> User admin </div>
                                  <span> @admin </span>
                              </div>
                          </a>
                      </li>
                      <li> 
                          <hr>
                      </li>
                      <li> 
                          <a href="#" class="is-link">
                              <ion-icon name="rocket-outline" class="is-icon"></ion-icon> <span>  Upgrade Membership  </span>
                          </a>
                      </li> 
                      <li>
                          <a href="#">
                              <ion-icon name="settings-outline" class="is-icon"></ion-icon>
                              Account Settings  
                          </a>
                      </li>
                      <li> 
                          <hr>
                      </li>
                      <li> 
                          <a href="#" id="night-mode" class="btn-night-mode" onclick="UIkit.notification({ message: 'Hmm...  <strong> Night mode </strong> feature is not available yet. ' , pos: 'bottom-right'  })">
                              <ion-icon name="moon-outline" class="is-icon"></ion-icon>
                               Night mode
                              <span class="btn-night-mode-switch">
                                  <span class="uk-switch-button"></span>
                              </span>
                          </a>
                      </li>
                      <li> 
                          <a href="#">
                              <ion-icon name="log-out-outline" class="is-icon"></ion-icon>
                              Log Out 
                          </a>
                      </li>
                  </ul>
              </div> 

          </div>

      </div>
  </div>
</header>