<div class="sidebar">
  <div class="sidebar_inner" data-simplebar>
      
      <ul class="side-colored">
          <li><a href="#">
                  <ion-icon name="compass" class="side-icon"> </ion-icon>
                  <span>Dashboard</span>
              </a>
          </li>
          <li class="active"><a href="/dashboard?page=passes">
                  <ion-icon name="albums" class="side-icon"> </ion-icon>
                  <span>Passes</span>
              </a>
          </li>
          <li><a href="#">
                  <ion-icon name="film" class="side-icon">  </ion-icon>
                  <span>Students</span>
              </a>
          </li>
          <li><a href="#">
                  <ion-icon name="book" class="side-icon"> </ion-icon>
                  <span>Blocks</span>
              </a>
          </li>
          <li><a href="#">
                  <ion-icon name="newspaper" class="side-icon">  </ion-icon>
                  <span>Kiosk Mode</span>
              </a>
          </li>
      </ul>
  </div>

  <div class="side_overly" uk-toggle="target: #wrapper ; cls: is-collapse is-active"></div>
</div>